body {
    background-image: url(../images/pic5.jpg);
    background-color: #dbbc1d;
    text-align: center;
}

.navbar {
    background-color: #281d59;
    text-align: center;
}

a {
    color: #f5f9f1;
}

a:hover {
    color: #de0e0e;
  }